chromadb
gradio
ollama
omegaconf
pdfminer.six
poppler-utils
pytesseract
python-dotenv
python-magic
unstructured
unstructured-client
unstructured-inference
unstructured.pytesseract
yfinance
TA-Lib
finnhub-python
pathlib
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langchain-unstructured
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
pypdf
pydantic